@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #CAFFD0 !important;
  color: black !important;
}

.react-calendar__tile--now {
  background-color: #C9E4E7 !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

.recharts-default-legend {
  display: flex;
  justify-content: space-evenly;
}

.rbc-event {
  background-color: #CAFFD0 !important;
  color: gray !important;
  font-size: small !important;
  border: 0.5px solid #d1cbcb !important;
  border-radius: 5px !important;
  padding: 10px !important;
  margin: 1px !important;
  width: 99% !important;
}

.rbc-time-slot {
  border: none !important; 
}

.rbc-time-view {
  border: none !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border-top: 1px solid #ddd !important;
}

.rbc-current-time-indicator {
  background-color: #B4A0E5 !important;
}

.rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  background-color: #c9e4e739 !important;
}

.rbc-off-range-bg {
  background-color: #f7f7f7 !important;
}



